.direct-supply
  padding .5rem
  .direct-title
    height 1rem
    line-height 1rem
    p
      float left
      font-size .8rem
    span
      float right
      font-size .6rem
  .direct-list
    padding-top  1rem
    height 10.8rem
    .direct-item
      float left
      width 49.5%
      height 47%
      background lemonchiffon
      background-repeat no-repeat
      background-size 100% 100%
      text-align: center
      padding-top .4rem
      color black
      &:nth-child(odd){
        border-right 2px solid #fff
      }
      &:nth-child(1){
        border-bottom 2px solid #fff
      }
      &:nth-child(2){
        border-bottom 2px solid #fff
      }
      text-align: left
      p
        font-size .7rem
      span
        font-size .5rem

