@import "../../../assets/stylus/mixins.styl"
.new-user-welfare
  padding .5rem
  h2
    text-align: center
    font-size .7rem
  .welfare-wrap
    width 100%
    margin .3rem auto 0
    clearFix()
    .welfare-left
      width 49.8%
      height 9.5rem
      float left
      background #F9E9CF
      p
        height 1rem
        padding 1rem 0 0 1rem
        font-size .7rem
      div
        height 7.5rem
        width 100%
        text-align: center
        img
          margin-top .8rem
          width 4.7rem
          height 4.7rem
    .welfare-right
      float right
      width 49.8%
      height 9.5rem
      font-size .7rem
      p
        height 1rem
        padding 1rem 0 0 .6rem
      span
        font-size .4rem
      a
        height 100%
        display block
        position relative
        img
          position absolute
          right 0rem
          top 0rem
          width 4.5rem
          height 4.5rem
      .discounts
        width 2rem
        height 2rem
        border-radius 50%
        background #F59524
        position absolute
        top .5rem
        right .8rem
        p
          padding .4rem 0 0
          text-align: center
          color #fff
          font-size .6rem
      .welfare-r-t
        height  49.8%
        background #FBE2D3
      .welfare-split
        height 0.4%
        background #fff
      .welfare-r-b
        background #FFECC2
        height  49.8%
        span
          padding 0 .2rem
          background #CBB693
          color: #fff
