.wy-slogan-info
  width 100%
  height 1.5rem
  font-size 0rem
  /*line-height 1.5rem*/
  ul
    width 100%
    height 100%
    li
      float left
      width 33%
      text-align: center
      height 100%
      a
        display inline-block
        vert-align middle
        display flex
        align-items center
        justify-content center
        height 100%
        i
          font-size 0
          vert-align middle
          width .7rem
          height  .7rem
          display inline-block
          background-image url("../../../assets/img/wy-slogan.png")
          background-repeat no-repeat
          background-size 100% 100%
        span
          display inline-block
          height  .7rem
          vert-align middle
          font-size .5rem
          line-height .7rem
