.new-shop
  &.popularity
    background #FEF7E3
    color: #C9B896
    span
      background #F4E9CB
  height 7rem;
  background #EEF5FC
  text-align: center
  a
    display inline-block
    margin-top 2.5rem
    p
      font-size .9rem
    span
      margin-top .4rem
      font-size .6rem
      display inline-block
      width 6rem
      height 1rem
      line-height 1rem
      background #D8E5F1

